{:paths ["src" "resources"]
 :deps {io.pedestal/pedestal.service {:mvn/version "0.6.3"}
        io.pedestal/pedestal.route {:mvn/version "0.6.3"}
        io.pedestal/pedestal.immutant {:mvn/version "0.6.3"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.32"}
        environ/environ {:mvn/version "1.2.0"}
        org.clojure/data.json            {:mvn/version "2.5.0"}
        io.github.judepayne/dictim       {:git/tag "0.5.5" :git/sha "5313f41"}
        io.github.judepayne/dictim.graph {:git/tag "0.1.4" :git/sha "b062c62"}}
 :aliases {:build {:paths ["resources"]
                   :deps {io.github.clojure/tools.build {:git/tag "v0.10.0" :git/sha "3a2c484"}}
                   :ns-default build}}}
